<nav class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span aria-hidden="true">🎪</span> Stage
    </NavLink>
    <NavLink class="nav-link" href="leaderboard">
        <span aria-hidden="true">🏆</span> Leaderboard
    </NavLink>
    <NavLink class="nav-link" href="diag">
        <span aria-hidden="true">🔧</span> Diagnostics
    </NavLink>
</nav>

