@page "/"
@rendermode InteractiveAuto
@using Po.Joker.Client.Components

<PageTitle>PoJoker</PageTitle>

<div class="home-container">
    <main class="stage-section">
        <JesterStage />
    </main>
</div>
